html {
  scroll-behavior: smooth;
}

h2 {
  font-family: Fraunces, serif;
}

body { height: 1000px; }



/* ----- REUSABLE CLASSES ------- */
.transition-300 {
  transition: all .3s ease;
}

.close-nav-menu >div:nth-of-type(1) {
  transform: rotate(45deg);
  position: absolute;
}

.close-nav-menu >div:nth-of-type(2) {
  transform: rotate(-45deg);
  position: absolute;
}


.open-nav-menu {
  height: 0px;
  padding-top: 0px;
}