html {
  scroll-behavior: smooth;
}

h2 {
  font-family: Fraunces, serif;
}

body {}



/* ----- REUSABLE CLASSES ------- */
.transition-300 {
  transition: all .3s ease;
}

.close-nav-menu >div:nth-of-type(1) {
  transform: rotate(45deg);
  position: absolute;
}

.close-nav-menu >div:nth-of-type(2) {
  transform: rotate(-45deg);
  position: absolute;
}


.open-nav-menu {
  height: 0px;
  padding-top: 0px;
}

@keyframes fadeIn {
  0% {
    transform: scale(1);
    opacity: .75;
  }
  100% {
    transform: scale(1.05);
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 4s ease linear;
}

/* @keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}

.reveal-content {
  animation: reveal 2s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
} */